rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2021, 5, 1);
    }
  }
  match /users/{user} {
    allow delete, update: if (get(/databases/$(database)/documents/users/$(request.auth.email)).data.isAdmin == true);
    allow create: if (!request.resource.data.isAdmin && request.resource.data.isSnappable) || if (get(/databases/$(database)/documents/users/$(request.auth.email)).data.isAdmin == true);
  }
}
