.login-page-elle-image {
    width: 100%;
    max-height: calc(100vh - 50px);

    @media only screen and (max-width: 576px) {
        max-width: 250px;
    }
}

.snap-text {
    line-height: 22px;
}

.styled-tash-icon {
    height: 30px;
    width: auto;
}

.trash-button {
    all: unset;
}

.my-clickable-nav-item {
    border: none;
    background-color: transparent;
}

.styled-horizontal-rule {
    width: 100%;
    height: 0px;
    left: 37px;
    top: 748px;

    border: 1px solid var(--purple-selected);
}

.elle-image {
    max-height: 250px;
    max-width: 100%;
}

.mini-elle-image {
    height: 66px;
    width: auto;
    vertical-align: text-bottom;
    margin-right: 19px;
}

.heading-text-base {
    font-family: var(--asap);
    font-weight: 500;
}

.file-upload-wrapper {
    position: relative;
    overflow: hidden;
    input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
    }
}

.login-box {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;

    @media only screen and (max-width: 576px) {
        max-width: 350px;
    }
}
