@import "./composition.scss";
@import "./blocks.scss";
@import "./buttons";

.title {
    font-family: var(--open-sans);
    font-weight: 800;
    color: var(--purple-button-hover) !important;
}

body {
    color: var(--purple-selected);
    font-family: var(--asap);
}

h1 {
    font-family: var(--open-sans);
    font-weight: 800;
    font-size: 50px;
}

hr {
    border-top: 1px solid var(--purple-hover);
}

body {
    background: linear-gradient(
        240.3deg,
        rgba(58, 9, 161, 0.4) -17.93%,
        rgba(196, 196, 196, 0) 100.75%
    );
    min-height: 100vh;
}

.login-box {
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    @media only screen and (max-width: 576px) {
        max-width: 350px;
    }
}
