@import "./composition.scss";
@import "./blocks.scss";
@import "./buttons";

.title {
    font-family: var(--open-sans);
    font-weight: 800;
    color: var(--purple-button-hover) !important;
}

h2 {
    font-family: var(--asap);
    color: var(--purple-selected);
}

h3 {
    font-family: var(--asap);
    color: var(--purple-selected);
}

hr {
    border-top: 1px solid var(--purple-hover);
}

body {
    background: linear-gradient(
        240.3deg,
        rgba(58, 9, 161, 0.4) -17.93%,
        rgba(196, 196, 196, 0) 100.75%
    );
    min-height: 100vh;
}
