.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-30 {
    font-size: 30px;
}

.hover-purple-selected {
    &:hover {
        color: var(--purple-selected) !important;
    }
}

.hover-purple-hover {
    &:hover {
        color: var(--purple-hover);
    }
}

.hover-background-purple-hover {
    &:hover {
        background-color: var(--purple-hover);
    }
}
.hover-background-purple-selected {
    &:hover {
        background-color: var(--purple-selected);
    }
}

.background-colour-purple-textbook {
    background-color: var(--purple-textbox);
}

.colour-white {
    color: white;
}

.colour-text-normal {
    color: var(--text-normal);
}

.colour-error {
    color: var(--text-error);
}

.colour-success {
    color: var(--text-success);
}

.colour-text-muted {
    color: var(--text-muted);
}

.colour-purple-selected {
    color: var(--purple-selected);
}

.colour-purple-hover {
    color: var(--purple-hover) !important;
}

.font-weight-boldest {
    font-weight: 800;
}

.font-family-open-sans {
    font-family: var(--open-sans);
}

.background-colour-white {
    background: var(--white);
}

.cursor_pointer {
    cursor: pointer;
}
